/* src/index.css */
@import "tailwindcss";

/* Optional: Keep your custom global resets if needed */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}